::-webkit-scrollbar {
  width: 0px!important;
}
/* 404 page--------- */
#error-main {
  display: table;
  width: 100%;
  height: 50vh;
  text-align: center;
  color: #888;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.error-body {
  display: table-cell;
  vertical-align: middle;
}

.error-body h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

/* Main Content Css */
.date-pick-button button {
  width: 115px;
}
.date-picker {
  margin-top: 30px;
}
